@use 'globals' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: .6rem 1.1rem;
    border-radius: .5rem;

    background: #000;
    color: $terciary-color;

    border: 1px solid rgba(255, 255, 255, .2);
    font: inherit;
    cursor: pointer;
    text-decoration: none;

    transition: transform .12s ease, opacity .12s ease;
}

.btn:hover {
    opacity: .95;
    transform: translateY(-.05rem);
}

.btn:active {
    transform: translateY(0);
}

.btn--primary {
    background: #000;
    color: $terciary-color;
}