// fichier principal qui importe tous les autres
// `@use "globals" as *;` = variables utilisables directement (`$primary-color`)
// `@use "globals";`     = variables via namespace (`globals.$primary-color`)
@use 'globals' as *;


@use 'footer';
@use 'header';
@use 'pages';
