@use 'globals' as *;
@use 'mixins/mixins' as *;

@use 'base';
@use 'layout';
@use 'header';
@use 'reasons';
@use 'locations';
@use 'e-verts-bricolage';
@use 'tarifs';
@use 'devis';

@use 'footer';
@use 'buttons';
